<% include partials/header %>

    <div class="container">

        <br>

        <div class="row">

            <div class="offset-md-3 col-md-6" >

                <div class="card">

                    <div class="card-body">

                        <form action="/validate" method="POST">

                            <div class="form-group">
                                <input type="text" placeholder="mail" name="mail" id="" class="form-control">
                            </div>

                            <div class="form-group">
                                <input type="password" placeholder="password" name="password" class="form-control" id="">
                            </div>

                            <button type="submit" class="btn btn-block btn-primary">Entrar</button>
                        </form>

                    </div>

                </div>

            </div>


        </div>
    </div>

<% include partials/scripts %>
<% include partials/footer %>