{
    "productos" : [ 
    
    
            <% for(var i = 0; i<productos.length; i++) { %> 
    
                {
                    "id" : "<%= productos[i]._id %>",
                    "name" : "<%= productos[i].name %>",
                    "img" : "<%= productos[i].img %>",
                    "price" : "<%= productos[i].price %>",
                    "status" : "<%= productos[i].status %>"
                }
                <% if(i<productos.length-1){ %>
                    ,
                <% } %>
            <% } %>
    ]
}