{
    "users" : [ 
    
    
            <% for(var i = 0; i<users.length; i++) { %> 
    
                {
                    "id" : "<%= users[i]._id %>",
                    "name" : "<%= users[i].name %>",
                    "password" : "<%= users[i].password %>",
                    "mail" : "<%= users[i].mail %>",
                    "status" : "<%= users[i].status %>",
                    "tipo" : "<%= users[i].tipo %>"
                }
                <% if(i<users.length-1){ %>
                    ,
                <% } %>
            <% } %>
    ]
}