{
    "transacciones" : [ 
    
    
            <% for(var i = 0; i<transacciones.length; i++) { %> 
    
                {
                    "id" : "<%= transacciones[i]._id %>",
                    "productos" : "<%= transacciones[i].productos %>",
                    "total" : "<%= transacciones[i].total %>",
                    "status" : "<%= transacciones[i].status %>"
                }
                <% if(i<transacciones.length-1){ %>
                    ,
                <% } %>
            <% } %>
    ]
}