{
    "carrito" : [ 
    
    

            <% for(var i = 0; i<cart.length; i++) { %> 
    
                {
                    "id" : "<%= cart[i]._id %>",
                    "id_user" : "<%= cart[i].id_user %>",
                    "id_producto" : "<%= cart[i].id_producto %>",
                    "count" : "<%= cart[i].count %>",
                    "id_transaction" : "<%= cart[i].id_transaction %>",
                    "status" : "<%= cart[i].status %>"
                }
                <% if(i<cart.length-1){ %>
                    ,
                <% } %>
            <% } %>
    ]
}