{
        "taskers" : [ 
        
        
                <% for(var i = 0; i<task.length; i++) { %> 
        
                    {
                        "id" : "<%= task[i]._id %>",
                        "title" : "<%= task[i].title %>",
                        "description" : "<%= task[i].description %>",
                        "status" : "<%= task[i].status %>"
                    }
                    <% if(i<task.length-1){ %>
                        ,
                    <% } %>
                <% } %>
        ]
    }