<% include partials/header %>


<div class="container">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Productos</a>
        </li>
        <% if(user.tipo == 'admin') { %>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Transacciones</a>
        </li>
        <% } else { %>
        <li class="nav-item">
            <a class="nav-link" id="cart-tab" data-toggle="tab" href="#cart" role="tab" aria-controls="cart" aria-selected="false">Cart</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" id="cart-tab" data-toggle="tab" href="#pro" role="tab" aria-controls="pro" aria-selected="false">Perfil</a>
            </li>
          <% } %>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"> <% include user/product %> </div>
        <% if(user.tipo == 'admin') { %>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> <% include user/users %> </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"> <% include user/transactions %> </div>
        <% } else { %>
        <div class="tab-pane fade" id="cart" role="tabpanel" aria-labelledby="contact-tab"> <% include user/cart %> </div>
        <div class="tab-pane fade" id="pro" role="tabpanel" aria-labelledby="contact-tab"> <% include user/profile %> </div>
        <% } %>
      </div>

</div>





<% include partials/scripts %>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>


    var id = "<%=user._id%>";
    var name = "<%=user.name%>";
    var tipo = "<%=user.tipo%>";

    console.log(id);
    console.log(name)
    console.log(tipo);


    function callUsers(){

      $("#users").html("")

      $.getJSON("http://localhost:4000/selectUsers", function(result){

            $.each(result.users, function(i, item){

              if(item.id != id){

                $("#users").append('<br>');

                $('#users').append('<div class="card" id=u'+i+' >');

                $('#u'+i).append('<div class="card-body row justify-content-between" id=uc'+i+' >')


                $('#uc'+i).html( '<div class = "col-5" >' + item.name + '</div>  <div class="justify-content-end"><button onclick="deleteUser(\''+item.id+'\')" class=" btn btn-danger" > eliminar usuario </button></div> ' )

                console.log(item)
              }
            });
        });
    }


    function callProducts(){

      $("#products").html("")

      $.getJSON("http://localhost:4000/selectProductos", function(result){

            $.each(result.productos, function(i, item){

              if(item.id != id){

                $("#products").append('<br>');

                $('#products').append('<div class="card" id=p'+i+' >');

                $('#p'+i).append('<div class="card-body row justify-content-between" id=pc'+i+' >')


                $('#pc'+i).html( '<div class = "col-5" >' + item.name + '  $' +item.price + '</div> <% if( user.tipo == "admin" ) { %> <div class="justify-content-end"><button onclick="deleteProduct(\''+item.id+'\')" class=" btn btn-danger" > eliminar producto </button> </div> <%  } else { %>   <div class="justify-content-end"><button onclick="addProduct(\''+item.id+'\')" class=" btn btn-primary" > agregar producto </button> </div>   <% } %>' )

                console.log(item)
              }
            });
        });
      }


      function callCarts(){

      $("#carts").html("")

    
      $.getJSON("http://localhost:4000/selectCarts/<%=user._id%>", function(result){

            var total = 0;
            var productos = "";

            $.each(result.carrito, function(i, item){

              if(item.id != id){

                $("#carts").append('<br>');

                $('#carts').append('<div class="card" id=c'+i+' >');

                $('#c'+i).append('<div class="card-body row justify-content-between" id=cc'+i+' >')

                  $.getJSON("http://localhost:4000/selectProducto/"+item.id_producto , function(result){


                    $('#cc'+i).html( '<div class = "col-5" >' + result.name + ' cantidad  '+ item.count + ' precio total ' +  ( parseFloat(item.count) * parseFloat(result.price)  ) + '    </div>  <div class="justify-content-end"><div class="justify-content-end"><button onclick="deleteCart(\''+item.id_producto+'\')" class=" btn btn-danger" > eliminar producto </button> </div>   ' )

                      total += ( parseFloat(item.count) * parseFloat(result.price)  );

                      productos += result.name;
                      $('#productos').val(productos);
                      productos += ",";
                      console.log('total: $'+total)
                      $('#total').html('total: $'+total);
                      $('#totalI').val(total);
                  });

                

                console.log(item)
              }
            });
        });
      }


      function pay() {
        

          alert('pagado');

          $.ajax
          ({
              type: "POST",
              //the url where you want to sent the userName and password to
              url: 'http://localhost:4000/addTransaction',
              dataType: 'json',
              async: false,
              //json object to sent to the authentication url
              data: { "productos": $('#productos').val(), "total" : $('#totalI').val()},
              success: function (data) {
                
                $.ajax
                ({
                    type: "POST",
                    //the url where you want to sent the userName and password to
                    url: 'http://localhost:4000/emptyCarts',
                    dataType: 'json',
                    async: false,
                    //json object to sent to the authentication url
                    data: { "id_usuario": "<%=user._id%>" },
                    success: function (data) {
                      
                        callCarts();
                        $('#productos').val("");
                        $('#totalI').val("");
                        $('#total').html("$")
                        callTransactions();
                    }
                });

              }
          });


      }

    function deleteUser(id) {
      
      $.ajax
      ({
          type: "GET",
          //the url where you want to sent the userName and password to
          url: 'http://localhost:4000/deleteUser/'+id,
          dataType: 'json',
          async: false,
          //json object to sent to the authentication url
          success: function (data) {
             callUsers();
          }
      })

    }

    function insertUser() {

      console.log("insertar usuario");

      $.ajax
      ({
          type: "POST",
          //the url where you want to sent the userName and password to
          url: 'http://localhost:4000/insertUser',
          dataType: 'json',
          async: false,
          //json object to sent to the authentication url
          data: { "mail": $('#mail').val(), "password" : $('#password').val(), "name" : $('#name').val(),"tipo" :$('#tipo').val()},
          success: function (data) {

            console.log(data)
             callUsers();
          }
      })


    }


    function insertProduct() {

      console.log("insertar producto");

      $.ajax
      ({
          type: "POST",
          //the url where you want to sent the userName and password to
          url: 'http://localhost:4000/insertProducto',
          dataType: 'json',
          async: false,
          //json object to sent to the authentication url
          data: { "name": $('#nameP').val(), "price" : $('#priceP').val()},
          success: function (data) {

            console.log(data)
            callProducts();
          }
      })


      }


      function addProduct(idP){
        alert('producto agregado')
        $.ajax
      ({
          type: "POST",
          //the url where you want to sent the userName and password to
          url: 'http://localhost:4000/addCarts',
          dataType: 'json',
          async: false,
          //json object to sent to the authentication url
          data: { "id_producto": idP, "id_usuario" : "<%=user._id%>"},
          success: function (data) {

            console.log(data)
            callCarts();
        
          }
      })
      }


      function deleteProduct(id) {
      
      $.ajax
      ({
          type: "GET",
          //the url where you want to sent the userName and password to
          url: 'http://localhost:4000/deleteProducto/'+id,
          dataType: 'json',
          async: false,
          //json object to sent to the authentication url
          success: function (data) {
             callProducts();
          }
      })

    }

    function deleteCart(idP) {
      
      $.ajax
      ({
          type: "POST",
          //the url where you want to sent the userName and password to
          url: 'http://localhost:4000/deleteCarts',
          dataType: 'json',
          async: false,
          //json object to sent to the authentication url
          data: { "id_producto": idP, "id_usuario" : "<%=user._id%>"},
          success: function (data) {
             callCarts();
          }
      })

    }

    function callTransactions(){

      //selectTransactions

        $.getJSON("http://localhost:4000/selectTransactions", function(result){


            $.each(result.transacciones, function(i, item){

              if(item.id != id){

                $("#tran").append('<br>');

                $('#tran').append('<div class="card" id=t'+i+' >');

                $('#t'+i).append('<div class="card-body row justify-content-between" id=ct'+i+' >')


                    $('#ct'+i).html( '<div class = "col-5" >' + item.productos + ' por $'+item.total+' </div> ' )
                

                console.log(item)
              }
            });
            });

    }

    function editarPerfil(){


          $.ajax
        ({
            type: "POST",
            //the url where you want to sent the userName and password to
            url: 'http://localhost:4000/editPro',
            dataType: 'json',
            async: false,
            //json object to sent to the authentication url
            data: {  "id":"<%=user._id%>", "name": $('#namePro').val(), "password" : $('#passwordPro').val(),"mail": $('#mailPro').val() },
            success: function (data) {

              alert("usuario modificadogir ")

            }
        })


    }


    $(document).ready(function () {

      callUsers();
      callProducts();
      callCarts();
      callTransactions();
        
    });



</script>


<% include partials/footer %>