carrito
<div id="carts">


</div>

<br>

<div class="text-right" id="total"></div>

<br>

<input type="text" id="productos" hidden >
<input type="number" id="totalI" hidden>

<button onclick="pay()" class="btn btn-primary"> Pagar </button>