<br>


<% if( user.tipo == "admin" ) { %>

    <div class="row justify-content-end">
            <div>
             <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> agregar Producto </button>
        </div>
    </div>
    <%  }%>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              

                <form action="">


                        <div class="form-group">
                                <input type="text" placeholder="name" name="mail" id="nameP" class="form-control">
                            </div>

                            <div class="form-group">
                                    <input type="number" placeholder="price" name="name" id="priceP" class="form-control">
                                </div>


                </form>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" onclick="insertProduct()" data-dismiss="modal" class="btn btn-primary">Agregar</button>
            </div>
          </div>
        </div>
      </div>

<div id="products">

    


</div>