
<br>
<form action="">


        <div class="form-group">
                <input type="text" value="<%=user.mail%>" placeholder="mail" name="mail" id="mailPro" class="form-control">
            </div>
        
            <div class="form-group">
                <input type="password" value="<%=user.password%>" placeholder="password" name="password" class="form-control" id="passwordPro">
            </div>
        
            <div class="form-group">
                    <input type="text" value="<%=user.name%>" placeholder="name" name="name" id="namePro" class="form-control">
                </div>



</form>


<button onclick="editarPerfil()" class="btn btn-primary"> Editar </button>