<br>

    <div class="row justify-content-end">
            <div>
             <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalU"> agregar usuario </button>
        </div>
    </div>
    

    <!-- Modal -->
<div class="modal fade" id="exampleModalU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelU" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabelU">Agregar usuario</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              

                <form action="">


                        <div class="form-group">
                                <input type="text" placeholder="mail" name="mail" id="mail" class="form-control">
                            </div>

                            <div class="form-group">
                                <input type="password" placeholder="password" name="password" class="form-control" id="password">
                            </div>

                            <div class="form-group">
                                    <input type="text" placeholder="name" name="name" id="name" class="form-control">
                                </div>

                                <div class="form-group">
                                        <select type="text" name="tipo" id="tipo" class="form-control"> 

                                            <option value="admin">Admin</option>
                                            <option value="regular">Regular</option>

                                        </select>
                                    </div>


                </form>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" onclick="insertUser()" data-dismiss="modal" class="btn btn-primary">Agregar</button>
            </div>
          </div>
        </div>
      </div>

<div id="users">

    


</div>